langchain
langchain-groq
langchain-openai
langchain_community
langchain-experimental
langchain-core
langgraph
pydantic
PyYAML
psycopg2-binary
pandas
fastapi
faiss-cpu
pdfplumber
uvicorn
matplotlib
plotly
sentence-transformers

